In [2]:
import pymysql
pymysql.install_as_MySQLdb()
%load_ext sql
%config SqlMagic.autocommit=True
%sql mysql://root:simple@127.0.0.1

In [5]:
%%sql
use classicsales

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [6]:
%%sql
show tables

 * mysql://root:***@127.0.0.1
9 rows affected.

[('customer',),
 ('employee',),
 ('office',),
 ('order',),
 ('order__item',),
 ('payment',),
 ('product',),
 ('product_line',),
 ('report',)]

In [18]:
%%sql
SELECT office.*,count(*) as number_of_employees from employee join office on employee.office_code=office.office_code
group by office.city

 * mysql://root:***@127.0.0.1
7 rows affected.

[('1', 'San Francisco', '+1 650 219 4782', '100 Market Street', 'Suite 300', 'CA', 'USA', '94080', 'NA', 6),
 ('2', 'Boston', '+1 215 837 0825', '1550 Court Place', 'Suite 102', 'MA', 'USA', '02107', 'NA', 2),
 ('3', 'NYC', '+1 212 555 3000', '523 East 53rd Street', 'apt. 5A', 'NY', 'USA', '10022', 'NA', 2),
 ('4', 'Paris', '+33 14 723 4404', "43 Rue Jouffroy D'abbans", None, None, 'France', '75017', 'EMEA', 5),
 ('5', 'Tokyo', '+81 33 224 5000', '4-1 Kioicho', None, 'Chiyoda-Ku', 'Japan', '102-8578', 'Japan', 2),
 ('6', 'Sydney', '+61 2 9264 2451', '5-11 Wentworth Avenue', 'Floor #2', None, 'Australia', 'NSW 2010', 'APAC', 4),
 ('7', 'London', '+44 20 7877 2041', '25 Old Broad Street', 'Level 7', None, 'UK', 'EC2N 1HN', 'EMEA', 2)]

In [29]:
%%sql
SELECT p1.*,count(*) as number_of_direct_reports FROM employee as p1 join report
join employee as p2 on p1.employee_number=report.employee_number and p2.employee_number=report.reports_to
group by p1.employee_number,report.reports_to

 * mysql://root:***@127.0.0.1
22 rows affected.

[(1056, 'Patterson', 'Mary', 'x4611', 'mpatterso@classicmodelcars.com', '1', 'VP Sales', 1),
 (1076, 'Firrelli', 'Jeff', 'x9273', 'jfirrelli@classicmodelcars.com', '1', 'VP Marketing', 1),
 (1088, 'Patterson', 'William', 'x4871', 'wpatterson@classicmodelcars.com', '6', 'Sales Manager (APAC)', 1),
 (1102, 'Bondur', 'Gerard', 'x5408', 'gbondur@classicmodelcars.com', '4', 'Sale Manager (EMEA)', 1),
 (1143, 'Bow', 'Anthony', 'x5428', 'abow@classicmodelcars.com', '1', 'Sales Manager (NA)', 1),
 (1621, 'Nishi', 'Mami', 'x101', 'mnishi@classicmodelcars.com', '5', 'Sales Rep', 1),
 (1611, 'Fixter', 'Andy', 'x101', 'afixter@classicmodelcars.com', '6', 'Sales Rep', 1),
 (1612, 'Marsh', 'Peter', 'x102', 'pmarsh@classicmodelcars.com', '6', 'Sales Rep', 1),
 (1619, 'King', 'Tom', 'x103', 'tking@classicmodelcars.com', '6', 'Sales Rep', 1),
 (1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 'Sales Rep', 1),
 (1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 'Sales Rep', 1),
 (1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 'Sales Rep', 1),
 (1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 'Sales Rep', 1),
 (1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 'Sales Rep', 1),
 (1702, 'Gerard', 'Martin', 'x2312', 'mgerard@classicmodelcars.com', '4', 'Sales Rep', 1),
 (1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 'Sales Rep', 1),
 (1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 'Sales Rep', 1),
 (1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 'Sales Rep', 1),
 (1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 'Sales Rep', 1),
 (1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 'Sales Rep', 1),
 (1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 'Sales Rep', 1),
 (1625, 'Kato', 'Yoshimi', 'x102', 'ykato@classicmodelcars.com', '5', 'Sales Rep', 1)]

In [86]:
%%sql
SELECT sum(price) as total_price,product_line,count(*) as orders,month(order_date) as month_date FROM `order` natural join order__item natural join product
group by month_date
order by orders desc

 * mysql://root:***@127.0.0.1
12 rows affected.

[(Decimal('56163.59'), 'Classic Cars', 616, 11),
 (Decimal('29364.29'), 'Vintage Cars', 323, 10),
 (Decimal('23929.40'), 'Motorcycles', 261, 5),
 (Decimal('20694.41'), 'Classic Cars', 232, 3),
 (Decimal('20803.81'), 'Vintage Cars', 229, 1),
 (Decimal('20832.73'), 'Classic Cars', 226, 2),
 (Decimal('20159.01'), 'Vintage Cars', 224, 12),
 (Decimal('18013.48'), 'Classic Cars', 203, 4),
 (Decimal('17317.65'), 'Trucks and Buses', 191, 8),
 (Decimal('15620.17'), 'Motorcycles', 171, 9),
 (Decimal('15120.61'), 'Motorcycles', 165, 7),
 (Decimal('13926.27'), 'Classic Cars', 155, 6)]

In [106]:
%%sql
SELECT month(order_date) as month_date,sum(price) from customer natural join `order` natural join order__item
group by month_date

 * mysql://root:***@127.0.0.1
12 rows affected.

[(1, Decimal('20803.81')),
 (2, Decimal('20832.73')),
 (3, Decimal('20694.41')),
 (4, Decimal('18013.48')),
 (5, Decimal('23929.40')),
 (6, Decimal('13926.27')),
 (7, Decimal('15120.61')),
 (8, Decimal('17317.65')),
 (9, Decimal('15620.17')),
 (10, Decimal('29364.29')),
 (11, Decimal('56163.59')),
 (12, Decimal('20159.01'))]

In [97]:
%%sql
SELECT * from `order`

 * mysql://root:***@127.0.0.1
326 rows affected.

[(10100, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363),
 (10101, datetime.date(2003, 1, 9), datetime.date(2003, 1, 18), datetime.date(2003, 1, 11), 'Shipped', 'Check on availability.', 128),
 (10102, datetime.date(2003, 1, 10), datetime.date(2003, 1, 18), datetime.date(2003, 1, 14), 'Shipped', None, 181),
 (10103, datetime.date(2003, 1, 29), datetime.date(2003, 2, 7), datetime.date(2003, 2, 2), 'Shipped', None, 121),
 (10104, datetime.date(2003, 1, 31), datetime.date(2003, 2, 9), datetime.date(2003, 2, 1), 'Shipped', None, 141),
 (10105, datetime.date(2003, 2, 11), datetime.date(2003, 2, 21), datetime.date(2003, 2, 12), 'Shipped', None, 145),
 (10106, datetime.date(2003, 2, 17), datetime.date(2003, 2, 24), datetime.date(2003, 2, 21), 'Shipped', None, 278),
 (10107, datetime.date(2003, 2, 24), datetime.date(2003, 3, 3), datetime.date(2003, 2, 26), 'Shipped', 'Difficult to negotiate with customer. We need more marketing materials', 131),
 (10108, datetime.date(2003, 3, 3), datetime.date(2003, 3, 12), datetime.date(2003, 3, 8), 'Shipped', None, 385),
 (10109, datetime.date(2003, 3, 10), datetime.date(2003, 3, 19), datetime.date(2003, 3, 11), 'Shipped', 'Customer requested that FedEx Ground is used for this shipping', 486),
 (10110, datetime.date(2003, 3, 18), datetime.date(2003, 3, 24), datetime.date(2003, 3, 20), 'Shipped', None, 187),
 (10111, datetime.date(2003, 3, 25), datetime.date(2003, 3, 31), datetime.date(2003, 3, 30), 'Shipped', None, 129),
 (10112, datetime.date(2003, 3, 24), datetime.date(2003, 4, 3), datetime.date(2003, 3, 29), 'Shipped', 'Customer requested that ad materials (such as posters, pamphlets) be included in the shippment', 144),
 (10113, datetime.date(2003, 3, 26), datetime.date(2003, 4, 2), datetime.date(2003, 3, 27), 'Shipped', None, 124),
 (10114, datetime.date(2003, 4, 1), datetime.date(2003, 4, 7), datetime.date(2003, 4, 2), 'Shipped', None, 172),
 (10115, datetime.date(2003, 4, 4), datetime.date(2003, 4, 12), datetime.date(2003, 4, 7), 'Shipped', None, 424),
 (10116, datetime.date(2003, 4, 11), datetime.date(2003, 4, 19), datetime.date(2003, 4, 13), 'Shipped', None, 381),
 (10117, datetime.date(2003, 4, 16), datetime.date(2003, 4, 24), datetime.date(2003, 4, 17), 'Shipped', None, 148),
 (10118, datetime.date(2003, 4, 21), datetime.date(2003, 4, 29), datetime.date(2003, 4, 26), 'Shipped', 'Customer has worked with some of our vendors in the past and is aware of their MSRP', 216),
 (10119, datetime.date(2003, 4, 28), datetime.date(2003, 5, 5), datetime.date(2003, 5, 2), 'Shipped', None, 382),
 (10120, datetime.date(2003, 4, 29), datetime.date(2003, 5, 8), datetime.date(2003, 5, 1), 'Shipped', None, 114),
 (10121, datetime.date(2003, 5, 7), datetime.date(2003, 5, 13), datetime.date(2003, 5, 13), 'Shipped', None, 353),
 (10122, datetime.date(2003, 5, 8), datetime.date(2003, 5, 16), datetime.date(2003, 5, 13), 'Shipped', None, 350),
 (10123, datetime.date(2003, 5, 20), datetime.date(2003, 5, 29), datetime.date(2003, 5, 22), 'Shipped', None, 103),
 (10124, datetime.date(2003, 5, 21), datetime.date(2003, 5, 29), datetime.date(2003, 5, 25), 'Shipped', 'Customer very concerned about the exact color of the models. There is high risk that he may dispute the order because there is a slight color mismatch', 112),
 (10125, datetime.date(2003, 5, 21), datetime.date(2003, 5, 27), datetime.date(2003, 5, 24), 'Shipped', None, 114),
 (10126, datetime.date(2003, 5, 28), datetime.date(2003, 6, 7), datetime.date(2003, 6, 2), 'Shipped', None, 458),
 (10127, datetime.date(2003, 6, 3), datetime.date(2003, 6, 9), datetime.date(2003, 6, 6), 'Shipped', 'Customer requested special shippment. The instructions were passed along to the warehouse', 151),
 (10128, datetime.date(2003, 6, 6), datetime.date(2003, 6, 12), datetime.date(2003, 6, 11), 'Shipped', None, 141),
 (10129, datetime.date(2003, 6, 12), datetime.date(2003, 6, 18), datetime.date(2003, 6, 14), 'Shipped', None, 324),
 (10130, datetime.date(2003, 6, 16), datetime.date(2003, 6, 24), datetime.date(2003, 6, 21), 'Shipped', None, 198),
 (10131, datetime.date(2003, 6, 16), datetime.date(2003, 6, 25), datetime.date(2003, 6, 21), 'Shipped', None, 447),
 (10132, datetime.date(2003, 6, 25), datetime.date(2003, 7, 1), datetime.date(2003, 6, 28), 'Shipped', None, 323),
 (10133, datetime.date(2003, 6, 27), datetime.date(2003, 7, 4), datetime.date(2003, 7, 3), 'Shipped', None, 141),
 (10134, datetime.date(2003, 7, 1), datetime.date(2003, 7, 10), datetime.date(2003, 7, 5), 'Shipped', None, 250),
 (10135, datetime.date(2003, 7, 2), datetime.date(2003, 7, 12), datetime.date(2003, 7, 3), 'Shipped', None, 124),
 (10136, datetime.date(2003, 7, 4), datetime.date(2003, 7, 14), datetime.date(2003, 7, 6), 'Shipped', 'Customer is interested in buying more Ferrari models', 242),
 (10137, datetime.date(2003, 7, 10), datetime.date(2003, 7, 20), datetime.date(2003, 7, 14), 'Shipped', None, 353),
 (10138, datetime.date(2003, 7, 7), datetime.date(2003, 7, 16), datetime.date(2003, 7, 13), 'Shipped', None, 496),
 (10139, datetime.date(2003, 7, 16), datetime.date(2003, 7, 23), datetime.date(2003, 7, 21), 'Shipped', None, 282),
 (10140, datetime.date(2003, 7, 24), datetime.date(2003, 8, 2), datetime.date(2003, 7, 30), 'Shipped', None, 161),
 (10141, datetime.date(2003, 8, 1), datetime.date(2003, 8, 9), datetime.date(2003, 8, 4), 'Shipped', None, 334),
 (10142, datetime.date(2003, 8, 8), datetime.date(2003, 8, 16), datetime.date(2003, 8, 13), 'Shipped', None, 124),
 (10143, datetime.date(2003, 8, 10), datetime.date(2003, 8, 18), datetime.date(2003, 8, 12), 'Shipped', 'Can we deliver the new Ford Mustang models by end-of-quarter?', 320),
 (10144, datetime.date(2003, 8, 13), datetime.date(2003, 8, 21), datetime.date(2003, 8, 14), 'Shipped', None, 381),
 (10145, datetime.date(2003, 8, 25), datetime.date(2003, 9, 2), datetime.date(2003, 8, 31), 'Shipped', None, 205),
 (10146, datetime.date(2003, 9, 3), datetime.date(2003, 9, 13), datetime.date(2003, 9, 6), 'Shipped', None, 447),
 (10147, datetime.date(2003, 9, 5), datetime.date(2003, 9, 12), datetime.date(2003, 9, 9), 'Shipped', None, 379),
 (10148, datetime.date(2003, 9, 11), datetime.date(2003, 9, 21), datetime.date(2003, 9, 15), 'Shipped', 'They want to reevaluate their terms agreement with Finance.', 276),
 (10149, datetime.date(2003, 9, 12), datetime.date(2003, 9, 18), datetime.date(2003, 9, 17), 'Shipped', None, 487),
 (10150, datetime.date(2003, 9, 19), datetime.date(2003, 9, 27), datetime.date(2003, 9, 21), 'Shipped', 'They want to reevaluate their terms agreement with Finance.', 148),
 (10151, datetime.date(2003, 9, 21), datetime.date(2003, 9, 30), datetime.date(2003, 9, 24), 'Shipped', None, 311),
 (10152, datetime.date(2003, 9, 25), datetime.date(2003, 10, 3), datetime.date(2003, 10, 1), 'Shipped', None, 333),
 (10153, datetime.date(2003, 9, 28), datetime.date(2003, 10, 5), datetime.date(2003, 10, 3), 'Shipped', None, 141),
 (10154, datetime.date(2003, 10, 2), datetime.date(2003, 10, 12), datetime.date(2003, 10, 8), 'Shipped', None, 219),
 (10155, datetime.date(2003, 10, 6), datetime.date(2003, 10, 13), datetime.date(2003, 10, 7), 'Shipped', None, 186),
 (10156, datetime.date(2003, 10, 8), datetime.date(2003, 10, 17), datetime.date(2003, 10, 11), 'Shipped', None, 141),
 (10157, datetime.date(2003, 10, 9), datetime.date(2003, 10, 15), datetime.date(2003, 10, 14), 'Shipped', None, 473),
 (10158, datetime.date(2003, 10, 10), datetime.date(2003, 10, 18), datetime.date(2003, 10, 15), 'Shipped', None, 121),
 (10159, datetime.date(2003, 10, 10), datetime.date(2003, 10, 19), datetime.date(2003, 10, 16), 'Shipped', None, 321),
 (10160, datetime.date(2003, 10, 11), datetime.date(2003, 10, 17), datetime.date(2003, 10, 17), 'Shipped', None, 347),
 (10161, datetime.date(2003, 10, 17), datetime.date(2003, 10, 25), datetime.date(2003, 10, 20), 'Shipped', None, 227),
 (10162, datetime.date(2003, 10, 18), datetime.date(2003, 10, 26), datetime.date(2003, 10, 19), 'Shipped', None, 321),
 (10163, datetime.date(2003, 10, 20), datetime.date(2003, 10, 27), datetime.date(2003, 10, 24), 'Shipped', None, 424),
 (10164, datetime.date(2003, 10, 21), datetime.date(2003, 10, 30), datetime.date(2003, 10, 23), 'Resolved', "This order was disputed, but resolved on 11/1/2003; Customer doesn't like the colors and precision of the models.", 452),
 (10165, datetime.date(2003, 10, 22), datetime.date(2003, 10, 31), datetime.date(2003, 12, 26), 'Shipped', "This order was on hold because customers's credit limit had been exceeded. Order will ship when payment is received", 148),
 (10166, datetime.date(2003, 10, 21), datetime.date(2003, 10, 30), datetime.date(2003, 10, 27), 'Shipped', None, 462),
 (10167, datetime.date(2003, 10, 23), datetime.date(2003, 10, 30), None, 'Cancelled', "Customer called to cancel. The warehouse was notified in time and the order didn't ship. They have a new VP of Sales and are shifting their sales model. Our VP of Sales should contact them.", 448),
 (10168, datetime.date(2003, 10, 28), datetime.date(2003, 11, 3), datetime.date(2003, 11, 1), 'Shipped', None, 161),
 (10169, datetime.date(2003, 11, 4), datetime.date(2003, 11, 14), datetime.date(2003, 11, 9), 'Shipped', None, 276),
 (10170, datetime.date(2003, 11, 4), datetime.date(2003, 11, 12), datetime.date(2003, 11, 7), 'Shipped', None, 452),
 (10171, datetime.date(2003, 11, 5), datetime.date(2003, 11, 13), datetime.date(2003, 11, 7), 'Shipped', None, 233),
 (10172, datetime.date(2003, 11, 5), datetime.date(2003, 11, 14), datetime.date(2003, 11, 11), 'Shipped', None, 175),
 (10173, datetime.date(2003, 11, 5), datetime.date(2003, 11, 15), datetime.date(2003, 11, 9), 'Shipped', 'Cautious optimism. We have happy customers here, if we can keep them well stocked.  I need all the information I can get on the planned shippments of Porches', 278),
 (10174, datetime.date(2003, 11, 6), datetime.date(2003, 11, 15), datetime.date(2003, 11, 10), 'Shipped', None, 333),
 (10175, datetime.date(2003, 11, 6), datetime.date(2003, 11, 14), datetime.date(2003, 11, 9), 'Shipped', None, 324),
 (10176, datetime.date(2003, 11, 6), datetime.date(2003, 11, 15), datetime.date(2003, 11, 12), 'Shipped', None, 386),
 (10177, datetime.date(2003, 11, 7), datetime.date(2003, 11, 17), datetime.date(2003, 11, 12), 'Shipped', None, 344),
 (10178, datetime.date(2003, 11, 8), datetime.date(2003, 11, 16), datetime.date(2003, 11, 10), 'Shipped', 'Custom shipping instructions sent to warehouse', 242),
 (10179, datetime.date(2003, 11, 11), datetime.date(2003, 11, 17), datetime.date(2003, 11, 13), 'Cancelled', 'Customer cancelled due to urgent budgeting issues. Must be cautious when dealing with them in the future. Since order shipped already we must discuss who would cover the shipping charges.', 496),
 (10180, datetime.date(2003, 11, 11), datetime.date(2003, 11, 19), datetime.date(2003, 11, 14), 'Shipped', None, 171),
 (10181, datetime.date(2003, 11, 12), datetime.date(2003, 11, 19), datetime.date(2003, 11, 15), 'Shipped', None, 167),
 (10182, datetime.date(2003, 11, 12), datetime.date(2003, 11, 21), datetime.date(2003, 11, 18), 'Shipped', None, 124),
 (10183, datetime.date(2003, 11, 13), datetime.date(2003, 11, 22), datetime.date(2003, 11, 15), 'Shipped', 'We need to keep in close contact with their Marketing VP. He is the decision maker for all their purchases.', 339),
 (10184, datetime.date(2003, 11, 14), datetime.date(2003, 11, 22), datetime.date(2003, 11, 20), 'Shipped', None, 484),
 (10185, datetime.date(2003, 11, 14), datetime.date(2003, 11, 21), datetime.date(2003, 11, 20), 'Shipped', None, 320),
 (10186, datetime.date(2003, 11, 14), datetime.date(2003, 11, 20), datetime.date(2003, 11, 18), 'Shipped', 'They want to reevaluate their terms agreement with the VP of Sales', 489),
 (10187, datetime.date(2003, 11, 15), datetime.date(2003, 11, 24), datetime.date(2003, 11, 16), 'Shipped', None, 211),
 (10188, datetime.date(2003, 11, 18), datetime.date(2003, 11, 26), datetime.date(2003, 11, 24), 'Shipped', None, 167),
 (10189, datetime.date(2003, 11, 18), datetime.date(2003, 11, 25), datetime.date(2003, 11, 24), 'Shipped', 'They want to reevaluate their terms agreement with Finance.', 205),
 (10190, datetime.date(2003, 11, 19), datetime.date(2003, 11, 29), datetime.date(2003, 11, 20), 'Shipped', None, 141),
 (10191, datetime.date(2003, 11, 20), datetime.date(2003, 11, 30), datetime.date(2003, 11, 24), 'Shipped', 'We must be cautions with this customer. Their VP of Sales resigned. Company may be heading down.', 259),
 (10192, datetime.date(2003, 11, 20), datetime.date(2003, 11, 29), datetime.date(2003, 11, 25), 'Shipped', None, 363),
 (10193, datetime.date(2003, 11, 21), datetime.date(2003, 11, 28), datetime.date(2003, 11, 27), 'Shipped', None, 471),
 (10194, datetime.date(2003, 11, 25), datetime.date(2003, 12, 2), datetime.date(2003, 11, 26), 'Shipped', None, 146),
 (10195, datetime.date(2003, 11, 25), datetime.date(2003, 12, 1), datetime.date(2003, 11, 28), 'Shipped', None, 319),
 (10196, datetime.date(2003, 11, 26), datetime.date(2003, 12, 3), datetime.date(2003, 12, 1), 'Shipped', None, 455),
 (10197, datetime.date(2003, 11, 26), datetime.date(2003, 12, 2), datetime.date(2003, 12, 1), 'Shipped', 'Customer inquired about remote controlled models and gold models.', 216),
 (10198, datetime.date(2003, 11, 27), datetime.date(2003, 12, 6), datetime.date(2003, 12, 3), 'Shipped', None, 385),
 (10199, datetime.date(2003, 12, 1), datetime.date(2003, 12, 10), datetime.date(2003, 12, 6), 'Shipped', None, 475),
 (10200, datetime.date(2003, 12, 1), datetime.date(2003, 12, 9), datetime.date(2003, 12, 6), 'Shipped', None, 211),
 (10201, datetime.date(2003, 12, 1), datetime.date(2003, 12, 11), datetime.date(2003, 12, 2), 'Shipped', None, 129),
 (10202, datetime.date(2003, 12, 2), datetime.date(2003, 12, 9), datetime.date(2003, 12, 6), 'Shipped', None, 357),
 (10203, datetime.date(2003, 12, 2), datetime.date(2003, 12, 11), datetime.date(2003, 12, 7), 'Shipped', None, 141),
 (10204, datetime.date(2003, 12, 2), datetime.date(2003, 12, 10), datetime.date(2003, 12, 4), 'Shipped', None, 151),
 (10205, datetime.date(2003, 12, 3), datetime.date(2003, 12, 9), datetime.date(2003, 12, 7), 'Shipped', ' I need all the information I can get on our competitors.', 141),
 (10206, datetime.date(2003, 12, 5), datetime.date(2003, 12, 13), datetime.date(2003, 12, 8), 'Shipped', 'Can we renegotiate this one?', 202),
 (10207, datetime.date(2003, 12, 9), datetime.date(2003, 12, 17), datetime.date(2003, 12, 11), 'Shipped', 'Check on availability.', 495),
 (10208, datetime.date(2004, 1, 2), datetime.date(2004, 1, 11), datetime.date(2004, 1, 4), 'Shipped', None, 146),
 (10209, datetime.date(2004, 1, 9), datetime.date(2004, 1, 15), datetime.date(2004, 1, 12), 'Shipped', None, 347),
 (10210, datetime.date(2004, 1, 12), datetime.date(2004, 1, 22), datetime.date(2004, 1, 20), 'Shipped', None, 177),
 (10211, datetime.date(2004, 1, 15), datetime.date(2004, 1, 25), datetime.date(2004, 1, 18), 'Shipped', None, 406),
 (10212, datetime.date(2004, 1, 16), datetime.date(2004, 1, 24), datetime.date(2004, 1, 18), 'Shipped', None, 141),
 (10213, datetime.date(2004, 1, 22), datetime.date(2004, 1, 28), datetime.date(2004, 1, 27), 'Shipped', 'Difficult to negotiate with customer. We need more marketing materials', 489),
 (10214, datetime.date(2004, 1, 26), datetime.date(2004, 2, 4), datetime.date(2004, 1, 29), 'Shipped', None, 458),
 (10215, datetime.date(2004, 1, 29), datetime.date(2004, 2, 8), datetime.date(2004, 2, 1), 'Shipped', 'Customer requested that FedEx Ground is used for this shipping', 475),
 (10216, datetime.date(2004, 2, 2), datetime.date(2004, 2, 10), datetime.date(2004, 2, 4), 'Shipped', None, 256),
 (10217, datetime.date(2004, 2, 4), datetime.date(2004, 2, 14), datetime.date(2004, 2, 6), 'Shipped', None, 166),
 (10218, datetime.date(2004, 2, 9), datetime.date(2004, 2, 16), datetime.date(2004, 2, 11), 'Shipped', 'Customer requested that ad materials (such as posters, pamphlets) be included in the shippment', 473),
 (10219, datetime.date(2004, 2, 10), datetime.date(2004, 2, 17), datetime.date(2004, 2, 12), 'Shipped', None, 487),
 (10220, datetime.date(2004, 2, 12), datetime.date(2004, 2, 19), datetime.date(2004, 2, 16), 'Shipped', None, 189),
 (10221, datetime.date(2004, 2, 18), datetime.date(2004, 2, 26), datetime.date(2004, 2, 19), 'Shipped', None, 314),
 (10222, datetime.date(2004, 2, 19), datetime.date(2004, 2, 27), datetime.date(2004, 2, 20), 'Shipped', None, 239),
 (10223, datetime.date(2004, 2, 20), datetime.date(2004, 2, 29), datetime.date(2004, 2, 24), 'Shipped', None, 114),
 (10224, datetime.date(2004, 2, 21), datetime.date(2004, 3, 2), datetime.date(2004, 2, 26), 'Shipped', 'Customer has worked with some of our vendors in the past and is aware of their MSRP', 171),
 (10225, datetime.date(2004, 2, 22), datetime.date(2004, 3, 1), datetime.date(2004, 2, 24), 'Shipped', None, 298),
 (10226, datetime.date(2004, 2, 26), datetime.date(2004, 3, 6), datetime.date(2004, 3, 2), 'Shipped', None, 239),
 (10227, datetime.date(2004, 3, 2), datetime.date(2004, 3, 12), datetime.date(2004, 3, 8), 'Shipped', None, 146),
 (10228, datetime.date(2004, 3, 10), datetime.date(2004, 3, 18), datetime.date(2004, 3, 13), 'Shipped', None, 173),
 (10229, datetime.date(2004, 3, 11), datetime.date(2004, 3, 20), datetime.date(2004, 3, 12), 'Shipped', None, 124),
 (10230, datetime.date(2004, 3, 15), datetime.date(2004, 3, 24), datetime.date(2004, 3, 20), 'Shipped', 'Customer very concerned about the exact color of the models. There is high risk that he may dispute the order because there is a slight color mismatch', 128),
 (10231, datetime.date(2004, 3, 19), datetime.date(2004, 3, 26), datetime.date(2004, 3, 25), 'Shipped', None, 344),
 (10232, datetime.date(2004, 3, 20), datetime.date(2004, 3, 30), datetime.date(2004, 3, 25), 'Shipped', None, 240),
 (10233, datetime.date(2004, 3, 29), datetime.date(2004, 4, 4), datetime.date(2004, 4, 2), 'Shipped', 'Customer requested special shippment. The instructions were passed along to the warehouse', 328),
 (10234, datetime.date(2004, 3, 30), datetime.date(2004, 4, 5), datetime.date(2004, 4, 2), 'Shipped', None, 412),
 (10235, datetime.date(2004, 4, 2), datetime.date(2004, 4, 12), datetime.date(2004, 4, 6), 'Shipped', None, 260),
 (10236, datetime.date(2004, 4, 3), datetime.date(2004, 4, 11), datetime.date(2004, 4, 8), 'Shipped', None, 486),
 (10237, datetime.date(2004, 4, 5), datetime.date(2004, 4, 12), datetime.date(2004, 4, 10), 'Shipped', None, 181),
 (10238, datetime.date(2004, 4, 9), datetime.date(2004, 4, 16), datetime.date(2004, 4, 10), 'Shipped', None, 145),
 (10239, datetime.date(2004, 4, 12), datetime.date(2004, 4, 21), datetime.date(2004, 4, 17), 'Shipped', None, 311),
 (10240, datetime.date(2004, 4, 13), datetime.date(2004, 4, 20), datetime.date(2004, 4, 20), 'Shipped', None, 177),
 (10241, datetime.date(2004, 4, 13), datetime.date(2004, 4, 20), datetime.date(2004, 4, 19), 'Shipped', None, 209),
 (10242, datetime.date(2004, 4, 20), datetime.date(2004, 4, 28), datetime.date(2004, 4, 25), 'Shipped', 'Customer is interested in buying more Ferrari models', 456),
 (10243, datetime.date(2004, 4, 26), datetime.date(2004, 5, 3), datetime.date(2004, 4, 28), 'Shipped', None, 495),
 (10244, datetime.date(2004, 4, 29), datetime.date(2004, 5, 9), datetime.date(2004, 5, 4), 'Shipped', None, 141),
 (10245, datetime.date(2004, 5, 4), datetime.date(2004, 5, 12), datetime.date(2004, 5, 9), 'Shipped', None, 455),
 (10246, datetime.date(2004, 5, 5), datetime.date(2004, 5, 13), datetime.date(2004, 5, 6), 'Shipped', None, 141),
 (10247, datetime.date(2004, 5, 5), datetime.date(2004, 5, 11), datetime.date(2004, 5, 8), 'Shipped', None, 334),
 (10248, datetime.date(2004, 5, 7), datetime.date(2004, 5, 14), None, 'Cancelled', 'Order was mistakenly placed. The warehouse noticed the lack of documentation.', 131),