In [13]:
import pymysql 
pymysql.install_as_MySQLdb()
%load_ext sql
%config SqlMagic.autocommit=True

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [14]:
connection_string = "mysql://root:simple@127.0.0.1"

In [15]:
%sql $connection_string

In [20]:
%%sql
CREATE SCHEMA IF NOT EXISTS Hiring

 * mysql://root:***@127.0.0.1
1 rows affected.

[]

In [21]:
%%sql
use Hiring

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [22]:
%%sql

CREATE TABLE Manager (
Manager_ID bigint NOT NULL,
First_name Varchar(30) NOT NULL,
Last_name Varchar(30) NOT NULL,
Phone bigint NOT NULL,
Email Varchar(30) NOT NULL,

PRIMARY KEY(Manager_ID)
)

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [23]:
%%sql

CREATE TABLE Job_Posting (
Job_ID bigint NOT NULL,
Manager_ID bigint NOT NULL,
Job_title Varchar(30) NOT NULL,
Open_date date NOT NULL,
End_date date NOT NULL,
Description Varchar(200) NOT NULL,
Minimum_annual_salary bigint NOT NULL,
Maximum_annual_salary bigint NOT NULL,

PRIMARY KEY(Job_ID,Manager_ID),
FOREIGN KEY (Manager_ID) REFERENCES Manager(Manager_ID)
)

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [ ]:
%%sql

CREATE TABLE Skill (
Job_ID Varchar(30) NOT NULL,
Applicant_ID Varchar(30) NOT NULL,
Skill_name enum("SQL", "Java", "Python", "C++", "JavaScript", "R", "Rust") NOT NULL,
Skill_description Varchar(200) NOT NULL,

PRIMARY KEY(Skill_name,Job_ID),
FOREIGN KEY (Job_ID) REFERENCES Job_Posting(Job_ID)

)

In [ ]:
%%sql

CREATE TABLE Job_Applicant (
Applicant_ID Varchar(30) NOT NULL
First_name Varchar(30) NOT NULL
Last_name Varchar(30) NOT NULL
Phone bigint NOT NULL
Email Varchar(30) NOT NULL

PRIMARY KEY(Applicant_ID)
)

In [ ]:
%%sql

CREATE TABLE Skill (
Job_ID Varchar(30) NOT NULL
Applicantion_ID Varchar(30) NOT NULL
Skill_name Varchar(30) NOT NULL
Skill_description Varchar(200) NOT NULL

PRIMARY KEY(Manager_ID)
)

In [ ]:
%%sql

CREATE TABLE Application (
Applicantion_ID Varchar(30) NOT NULL
Applicant_ID Varchar(30) NOT NULL
Job_ID Varchar(30) NOT NULL
Current_position Varchar(30) NOT NULL


PRIMARY KEY(Applicantion_ID)
)

In [ ]:
%%sql

CREATE TABLE Interview (
Interview_ID Varchar(30) NOT NULL
Applicantion_ID Varchar(30) NOT NULL
Interview_date date NOT NULL

PRIMARY KEY(Applicantion_ID)
)

In [ ]:
%%sql

CREATE TABLE Offer (
Offer_ID Varchar(30) NOT NULL
Salary bigint NOT NULL
Start_date date NOT NULL

PRIMARY KEY(Applicantion_ID)
)

In [ ]:
%%sql

CREATE TABLE Acceptance (
Offer_ID Varchar(30) NOT NULL
Offer_status enum ('Accepted','Pending','Rejected')

PRIMARY KEY(Offer_ID)
)

In [39]:
%%sql
drop schema Hiring

 * mysql://root:***@127.0.0.1
2 rows affected.

[]

In [40]:
# prepare datajoint
import datajoint as dj
from faker import Faker
fake = Faker()
schema = dj.Schema('Hiring')