In [36]:
import datajoint as dj
from faker import Faker
fake = Faker()
schema = dj.Schema('Hiring')

In [2]:
@schema
class Manager(dj.Manual):
    definition="""
    manager_id : bigint unsigned  
    ---
    first_name : varchar(30) 
    last_name : varchar(30) 
    phone : bigint 
    email : varchar(30) 
    """

In [3]:
@schema
class Job(dj.Manual):
    definition = """
    job_id : varchar(12)   
    ---
    -> Manager
    job_title : varchar(30) 
    open_date : date 
    description : varchar(200) 
    minimum_annual_salary : bigint unsigned  
    maximum_annual_salary : bigint unsigned  
    """
    class Skill(dj.Part):
        definition = """
        -> master
        -> Skill
        """

In [4]:
@schema
class Skill(dj.Lookup):
    definition = """
    skill : varchar(24)
    """

In [5]:
@schema
class Applicant(dj.Manual):
    definition = """
    applicant_id : varchar(15) 
    ---
    first_name : varchar(30) 
    last_name : varchar(30) 
    phone : bigint unsigned  
    email : varchar(30)
    """
    class Skill(dj.Part):
        definition = """
        -> master
        -> Skill
        """

In [6]:
@schema
class Application(dj.Manual):
    definition = """
    -> Applicant
    -> Job
    --- 
    """

In [7]:
@schema
class Interview(dj.Manual):
    definition = """
    -> Application
    ---
    -> Manager
    interview_date : date 
    """

In [8]:
@schema
class Offer(dj.Manual):
    definition = """
    -> Interview
    ---
    start_date : date
    salary : bigint unsigned 
    """

In [9]:
@schema
class Acceptance(dj.Manual):
    definition = """
    -> Offer
    --- 
    """

In [10]:
dj.Diagram(schema)

In [70]:
schema.drop()

Populate

In [11]:
import random
from tqdm import tqdm
from faker import Faker
fake = Faker()

In [83]:
Faker.seed(0)
Manager.insert(dict(
    manager_id=fake.random_int(100000, 900000),
    first_name=fake.first_name(),
    last_name=fake.last_name(),
    phone=fake.random_int(1_000_000_0000, 9_999_999_9999),
    email=fake.email()) for _ in range(10))

In [12]:
Manager()

*manager_id    first_name     last_name     phone          email
+------------+ +------------+ +-----------+ +------------+ +------------+
134574         Chloe          Douglas       20636619644    sheltondavid@e
300348         Sally          Walker        72461666241    millerluke@exa
373145         Bryan          Sellers       13934166345    cortezraymond@
475441         Brandy         Odonnell      29347482742    donald19@examp
503958         Katherine      Fisher        76620417634    thull@example.
613054         Daniel         Arnold        25919560061    lisa83@example
658433         Tonya          Patrick       31054642443    corey15@exampl
673812         Briana         Wallace       54602810789    kellylopez@exa
687007         Craig          Hamilton      98523085497    tammywoods@exa
755638         Aaron          Snyder        56675998506    jessicapadilla
 (Total: 10)

In [85]:
keys = Manager.fetch("KEY")

In [86]:
for index in range(1, 40):
    skill_list=["SQL","Python","Excel","Word","JAVA","Tableu","R Language","Database Management","Powerpoint","C++ Language","Rust"] 
    Skill.insert1(dict(
    skill=fake.random.choices(skill_list)
    ),skip_duplicates=True)

In [87]:
Skill()

*skill
+------------+
C++ Language
Database Manag
Excel
JAVA
Powerpoint
Python
R Language
Rust
SQL
Tableu
Word
 (Total: 11)

In [51]:
Job()

*job_id        manager_id     job_title      open_date      description    minimum_annual maximum_annual
+------------+ +------------+ +------------+ +------------+ +------------+ +------------+ +------------+
b9-5331889F    373145         Database Admin 2024-02-21     designing, bui 75000          104000
C9-6943858n    300348         Data Scientist 2024-03-09     designing, bui 50000          129000
D6-2084932w    134574         Data Engineer  2024-01-19     collects large 42000          106000
d7-7843350J    613054         Data Analyst   2024-01-02     designing, bui 76000          143000
E9-7204107h    613054         Database Admin 2024-03-19     ensure that th 62000          148000
f1-2207807e    613054         Database Admin 2024-03-15     ensure that th 47000          123000
f3-2879298o    673812         Data Engineer  2024-03-02     ensure that th 61000          96000
F6-0486311W    658433         Data Scientist 2024-02-27     collects large 52000          127000
g0-8691000R    613054         Data Administr 2024-01-13     identifies tre 34000          131000
g2-5606095Y    300348         Data Scientist 2024-02-11     designing, bui 66000          130000
I4-1854938J    134574         Data Scientist 2024-02-24     collects large 35000          128000
J5-6425102P    373145         Database Admin 2024-01-02     collects large 77000          95000
   ...
 (Total: 21)

In [88]:
Faker.seed(0)

for index in range(1, 22):  
    job_list = ["Data Engineer", "Data Scientist II", "Data Administrator", "Data Scientist","Data Analyst","Database Admin"]
    description_list =["designing, building, and maintaining the infrastructure that supports data storage, processing, and retrieval."
                       ,"identifies trends, patterns, and anomalies found in big data sets by performing extensive data analysis to develop insights."
                       ,"create or organize systems to store different data types, such as financial information and customer shipping records." 
                       ,"collects large amounts of data using analytical, statistical, and programmable skills.,gather and scrutinise data using specialist tools to generate information that helps others make decisions." 
                       ,"ensure that the overall system run efficiently and securely"]

    Job.insert1(dict(
    random.choice(keys),
    job_id=fake.pystr_format(),
    job_title=fake.random.choice(job_list),
    open_date=fake.date_between(start_date='+20d',end_date='+120d'),
    description=fake.random.choice(description_list),
    minimum_annual_salary=fake.random_int(min=30000, max=80000, step=1000),
    maximum_annual_salary=fake.random_int(min=90000, max=150000, step=1000)
    ),skip_duplicates=True)

In [89]:
Job.Skill.insert(
    Job.proj() * Skill & 'RAND() < 0.3')

In [90]:
Job.Skill()

*job_id        *skill
+------------+ +------------+
b9-5331889F    C++ Language
d7-7843350J    C++ Language
E9-7204107h    C++ Language
g0-8691000R    C++ Language
I4-1854938J    C++ Language
M1-0138752M    C++ Language
w5-7811208R    C++ Language
X7-9235874U    C++ Language
b9-5331889F    Database Manag
f3-2879298o    Database Manag
M1-0138752M    Database Manag
m9-3426306u    Database Manag
   ...
 (Total: 58)

In [92]:
Applicant()

*applicant_id  first_name     last_name      phone          email
+------------+ +------------+ +------------+ +------------+ +------------+
A1-6116914f    Kim            Navarro        67753216629    ujohnson@examp
a3-8938169O    Matthew        Estes          56810883075    austin24@examp
A5-6257110D    Deborah        Mcdaniel       70765280157    alexandriaande
A5-8064064C    Alan           Hayden         56820565210    sharris@exampl
A8-3812202K    Stephanie      Stephens       49851346258    owatson@exampl
b8-7545226u    Alejandra      Lee            36113899145    jacob34@exampl
b9-8913584c    David          Lopez          90874604127    myersmitchell@
c1-1224260E    Megan          Villanueva     81748645873    aimee33@exampl
c1-6058631e    Darren         Smith          43933359290    karenroberts@e
c1-7207518d    Carmen         Anderson       24276090565    james71@exampl
c7-6963922o    Richard        Miles          31675753711    sbrown@example
c7-8907313H    Troy           Collins        16300254181    olopez@example
   ...
 (Total: 69)

In [91]:
Faker.seed(0)
for index in range(1, 70): 
    Applicant.insert1(dict(
        applicant_id=fake.pystr_format(),
        first_name=fake.first_name(),
        last_name=fake.last_name(),
        phone=fake.random_int(1_000_000_0000, 9_999_999_9999),
        email=fake.email()),skip_duplicates=True)

In [93]:
Faker.seed(0)
Applicant.Skill.insert(
    Applicant.proj() * Skill & 'RAND() < 0.3')

In [94]:
Applicant.Skill()

*applicant_id  *skill
+------------+ +------------+
A5-8064064C    C++ Language
b8-7545226u    C++ Language
c7-8907313H    C++ Language
d4-5623618e    C++ Language
D8-869883O     C++ Language
E0-321596M     C++ Language
E2-5715576H    C++ Language
i4-5995770N    C++ Language
i7-4926114O    C++ Language
K1-9728952j    C++ Language
M7-627909c     C++ Language
M9-6764745I    C++ Language
   ...
 (Total: 229)

In [13]:
Application()

*applicant_id  *job_id
+------------+ +------------+
E0-321596M     b9-5331889F
H0-0464424Q    b9-5331889F
M7-627909c     C9-6943858n
T7-53518N      C9-6943858n
v7-6041900S    C9-6943858n
Z4-7198965L    C9-6943858n
f7-7116752F    D6-2084932w
M3-4788864Y    D6-2084932w
Q9-5384464h    D6-2084932w
C8-5708009S    E9-7204107h
A5-6257110D    f1-2207807e
i4-5995770N    f1-2207807e
   ...
 (Total: 60)

In [96]:
keys = Applicant.fetch("KEY")

In [97]:
Faker.seed(0)

application = (Applicant * Job - Application.proj()).fetch("KEY", order_by=('applicant_id', 'job_id'))
Application.insert(random.sample(application, 60))

In [98]:
key1=Manager.fetch("KEY")

In [101]:
Faker.seed(0)

application_data = Application.fetch(as_dict=True)
manager_data = Manager.fetch(as_dict=True)

data = []
for index in range(1, 50): 
    application_record = fake.random_element(application_data)
    interview_data = {
        'applicant_id': application_record['applicant_id'],
        'job_id': application_record['job_id'],
        'manager_id': fake.random_element(manager_data)['manager_id'],
        'interview_date': fake.date_between(start_date='+30d', end_date='+90d')
    }
    data.append(interview_data)

Interview.insert(data,skip_duplicates=True)

In [102]:
Interview()

*applicant_id  *job_id        manager_id     interview_date
+------------+ +------------+ +------------+ +------------+
A5-6257110D    p0-9756534T    373145         2024-02-11
b9-8913584c    T9-0321901c    373145         2024-01-13
c7-6963922o    g0-8691000R    687007         2024-01-29
c7-8907313H    f3-2879298o    687007         2024-02-01
E0-321596M     X7-9235874U    475441         2024-02-28
F6-0486311W    J5-6425102P    613054         2024-03-06
f7-7116752F    D6-2084932w    300348         2024-02-11
f9-2674934I    J5-6425102P    658433         2024-02-08
f9-2674934I    X7-9235874U    687007         2024-03-08
H0-0464424Q    b9-5331889F    503958         2024-01-21
i7-4926114O    f1-2207807e    755638         2024-01-31
i7-4926114O    p0-8425503V    300348         2024-02-03
   ...
 (Total: 33)

In [106]:
Offer()

*applicant_id  *job_id        start_date     salary
+------------+ +------------+ +------------+ +--------+
A5-6257110D    p0-9756534T    2024-02-08     110000
b9-8913584c    T9-0321901c    2024-02-26     137000
E0-321596M     X7-9235874U    2024-02-19     52000
F6-0486311W    J5-6425102P    2024-02-10     104000
f7-7116752F    D6-2084932w    2024-02-23     114000
i7-4926114O    f1-2207807e    2024-02-13     108000
i7-4926114O    p0-8425503V    2024-02-23     95000
L1-5343559B    I4-1854938J    2024-01-27     148000
M1-4181491l    V9-2465885L    2024-03-18     58000
O2-1764954r    g0-8691000R    2024-02-18     101000
T3-0415493m    M1-0138752M    2024-03-14     52000
t9-577426H     w5-7811208R    2024-02-29     45000
   ...
 (Total: 15)

In [104]:
key=Interview.fetch("KEY")

In [105]:
Faker.seed(0)
for index in range(1, 20):
    Offer.insert1(dict(
    random.choice(key),
    start_date=fake.date_between(start_date='+40d',end_date='+100d'),
    salary=fake.random_int(min=40000, max=150000, step=1000)),skip_duplicates=True)

In [14]:
Acceptance()

*applicant_id  *job_id
+------------+ +------------+
A5-6257110D    p0-9756534T
E0-321596M     X7-9235874U
F6-0486311W    J5-6425102P
f7-7116752F    D6-2084932w
i7-4926114O    f1-2207807e
L1-5343559B    I4-1854938J
T3-0415493m    M1-0138752M
t9-577426H     w5-7811208R
 (Total: 8)

In [108]:
key=Offer.fetch("KEY")

In [109]:
Faker.seed(0)
for index in range(1, 10):
    Acceptance.insert1(dict(
    random.choice(key),
    ),skip_duplicates=True)

Queries

In [38]:
import pymysql
pymysql.install_as_MySQLdb()
%load_ext sql
%config SqlMagic.autocommit=True
%sql mysql://root:simple@127.0.0.1

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [40]:
%%sql
use Hiring

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [41]:
%%sql
show tables

 * mysql://root:***@127.0.0.1
11 rows affected.

[('#skill',),
 ('acceptance',),
 ('applicant',),
 ('applicant__skill',),
 ('application',),
 ('interview',),
 ('job',),
 ('job__skill',),
 ('manager',),
 ('offer',),
 ('~log',)]

In [80]:
%%sql
SELECT *, COUNT(applicant_id) as number_of_applicants
FROM job NATURAL JOIN job__skill NATURAL JOIN application 
WHERE skill="SQL" AND job_id NOT IN (SELECT job_id FROM acceptance)
group by job_id

 * mysql://root:***@127.0.0.1
3 rows affected.

[('f3-2879298o', 613054, 'Data Engineer', datetime.date(2024, 3, 2), 'ensure that the overall system run efficiently and securely', 61000, 96000, 'SQL', 'c7-8907313H', 2),
 ('F6-0486311W', 134574, 'Data Scientist', datetime.date(2024, 2, 27), 'collects large amounts of data using analytical, statistical, and programmable skills.,gather and scrutinise data using specialist tools to generate information that helps others make decisions.', 52000, 127000, 'SQL', 'b8-7545226u', 2),
 ('m9-3426306u', 755638, 'Data Scientist II', datetime.date(2024, 1, 6), 'ensure that the overall system run efficiently and securely', 72000, 106000, 'SQL', 'D1-6692573h', 4)]

In [81]:
%%sql
SELECT skill,(sum(minimum_annual_salary)+sum(maximum_annual_salary))/2 as Average_salary,count(*) as number_of_jobs 
FROM job__skill NATURAL JOIN job
GROUP BY skill

 * mysql://root:***@127.0.0.1
11 rows affected.

[('C++ Language', Decimal('738000.0000'), 8),
 ('Database Management', Decimal('512000.0000'), 6),
 ('JAVA', Decimal('477000.0000'), 5),
 ('Powerpoint', Decimal('650000.0000'), 7),
 ('Python', Decimal('406000.0000'), 5),
 ('R Language', Decimal('341000.0000'), 4),
 ('Word', Decimal('757500.0000'), 8),
 ('Tableu', Decimal('303000.0000'), 3),
 ('Rust', Decimal('78500.0000'), 1),
 ('SQL', Decimal('547000.0000'), 6),
 ('Excel', Decimal('467500.0000'), 5)]

In [125]:
%%sql
SELECT m.*,COUNT(DISTINCT j.job_id) AS num_jobs_posted, COUNT(DISTINCT i.job_id) AS num_interviews_given
,COUNT(DISTINCT o.job_id) AS num_job_offers
,COUNT(DISTINCT a.job_id) AS num_accepted_offers
FROM manager m LEFT JOIN job j ON m.manager_id = j.manager_id 
LEFT JOIN interview i ON j.manager_id = i.manager_id  
LEFT JOIN offer o ON i.job_id = o.job_id LEFT JOIN acceptance a ON o.job_id = a.job_id
GROUP BY m.manager_id

 * mysql://root:***@127.0.0.1
10 rows affected.

[(134574, 'Chloe', 'Douglas', 20636619644, 'sheltondavid@example.org', 6, 2, 2, 2),
 (300348, 'Sally', 'Walker', 72461666241, 'millerluke@example.net', 1, 6, 5, 2),
 (373145, 'Bryan', 'Sellers', 13934166345, 'cortezraymond@example.net', 4, 3, 3, 2),
 (475441, 'Brandy', 'Odonnell', 29347482742, 'donald19@example.com', 1, 3, 3, 2),
 (503958, 'Katherine', 'Fisher', 76620417634, 'thull@example.com', 2, 4, 3, 2),
 (613054, 'Daniel', 'Arnold', 25919560061, 'lisa83@example.net', 2, 3, 2, 2),
 (658433, 'Tonya', 'Patrick', 31054642443, 'corey15@example.com', 1, 5, 4, 1),
 (673812, 'Briana', 'Wallace', 54602810789, 'kellylopez@example.org', 0, 0, 0, 0),
 (687007, 'Craig', 'Hamilton', 98523085497, 'tammywoods@example.net', 1, 4, 3, 1),
 (755638, 'Aaron', 'Snyder', 56675998506, 'jessicapadilla@example.org', 3, 3, 3, 2)]

In [157]:
%%sql
SELECT * FROM applicant NATURAL JOIN application 
GROUP BY applicant_id
HAVING COUNT(DISTINCT job_id) >= 2

 * mysql://root:***@127.0.0.1
15 rows affected.

[('A5-6257110D', 'Deborah', 'Mcdaniel', 70765280157, 'alexandriaanderson@example.org', 'f1-2207807e'),
 ('b8-7545226u', 'Alejandra', 'Lee', 36113899145, 'jacob34@example.net', 'F6-0486311W'),
 ('E0-321596M', 'Jason', 'Owen', 83112294451, 'qoliver@example.org', 'X7-9235874U'),
 ('f7-7116752F', 'John', 'Mckenzie', 66495122268, 'scottjones@example.com', 'D6-2084932w'),
 ('f9-2674934I', 'Erika', 'Wolf', 84012434330, 'bramirez@example.org', 'X7-9235874U'),
 ('i7-4926114O', 'Lisa', 'Tran', 58652894361, 'burnettnatalie@example.org', 'p0-8425503V'),
 ('K1-9728952j', 'Richard', 'Frazier', 82488983067, 'ushelton@example.com', 'I4-1854938J'),
 ('L1-5343559B', 'Kimberly', 'Reynolds', 24424735211, 'shortmelissa@example.org', 'I4-1854938J'),
 ('M3-4788864Y', 'Steven', 'Walters', 41235348180, 'wilsonkristen@example.org', 'D6-2084932w'),
 ('Q9-4779663A', 'Danielle', 'Graves', 20124816538, 'chloe79@example.net', 'f1-2207807e'),
 ('s4-229584c', 'Michael', 'Hays', 49211509260, 'woodsjohn@example.org', 'M1-0138752M'),
 ('T7-53518N', 'Monica', 'Lee', 42502211151, 'lindathomas@example.net', 'I4-1854938J'),
 ('t9-577426H', 'Alexander', 'Robinson', 34278434031, 'vlamb@example.com', 'w5-7811208R'),
 ('y2-7585416k', 'Rachel', 'Shaw', 21054698121, 'burgessrebecca@example.org', 'T9-0321901c'),
 ('Z4-7198965L', 'Paul', 'Johnston', 32721792204, 'lorijohnson@example.net', 'C9-6943858n')]

In [118]:
%%sql
SELECT first_name,last_name
FROM applicant  NATURAL JOIN offer 
WHERE applicant_id NOT IN (SELECT applicant_id FROM acceptance)
GROUP BY applicant_id

 * mysql://root:***@127.0.0.1
6 rows affected.

[('David', 'Lopez'),
 ('Haley', 'Flynn'),
 ('Christopher', 'Hill'),
 ('Jessica', 'Kline'),
 ('Kevin', 'Rodriguez'),
 ('Ricky', 'Patrick')]

In [123]:
%%sql 
SELECT * FROM application app
JOIN applicant__skill app_skill ON app.applicant_id = app_skill.applicant_id
JOIN job__skill j_skill ON app.job_id = j_skill.job_id AND app_skill.skill = j_skill.skill
GROUP BY app.applicant_id, app.job_id
HAVING COUNT(j_skill.skill) = (SELECT COUNT(skill) FROM job__skill WHERE job_id = app.job_id)

 * mysql://root:***@127.0.0.1
3 rows affected.

[('X1-7444169v', 'N2-4213578G', 'X1-7444169v', 'Database Management', 'N2-4213578G', 'Database Management'),
 ('f7-7116752F', 'g2-5606095Y', 'f7-7116752F', 'Excel', 'g2-5606095Y', 'Excel'),
 ('Q9-5384464h', 'D6-2084932w', 'Q9-5384464h', 'Python', 'D6-2084932w', 'Python')]

In [66]:
%%sql
SELECT job_id, COUNT(*) AS application_count
FROM application
GROUP BY job_id
ORDER BY application_count DESC
LIMIT 3

 * mysql://root:***@127.0.0.1
3 rows affected.

[('f1-2207807e', 7), ('M1-0138752M', 6), ('J5-6425102P', 5)]

8. List all job seekers with only 1 skill.

In [30]:
%%sql
SELECT *, COUNT(skill) AS skills
FROM applicant__skill NATURAL JOIN applicant
GROUP BY applicant_id
HAVING COUNT(skill) = 1

 * mysql://root:***@127.0.0.1
6 rows affected.

[('C8-5708009S', 'Python', 'Kevin', 'Mcgee', 38437589212, 'kellypeter@example.org', 1),
 ('q3-1768614C', 'Python', 'Jared', 'Williams', 92531637860, 'danielellis@example.com', 1),
 ('Q9-4779663A', 'Tableu', 'Danielle', 'Graves', 20124816538, 'chloe79@example.net', 1),
 ('T3-0415493m', 'Rust', 'Jeffrey', 'Norton', 67262806749, 'garciadustin@example.net', 1),
 ('y1-3301078Z', 'Rust', 'Alan', 'Long', 50883809702, 'ymora@example.net', 1),
 ('Z2-6229516t', 'Tableu', 'Jeffrey', 'Romero', 49444740944, 'robert02@example.net', 1)]

9. List the top 3 job postings with the most skills required.

In [65]:
%%sql

SELECT job.*,COUNT(skill) as number_of_skills
FROM job NATURAL JOIN job__skill 
GROUP BY job_id
ORDER BY number_of_skills DESC
limit 3

 * mysql://root:***@127.0.0.1
3 rows affected.

[('b9-5331889F', 373145, 'Database Admin', datetime.date(2024, 2, 21), 'designing, building, and maintaining the infrastructure that supports data storage, processing, and retrieval.', 75000, 104000, 7),
 ('X7-9235874U', 613054, 'Data Engineer', datetime.date(2024, 1, 30), 'identifies trends, patterns, and anomalies found in big data sets by performing extensive data analysis to develop insights.', 51000, 123000, 5),
 ('d7-7843350J', 503958, 'Data Analyst', datetime.date(2024, 1, 2), 'designing, building, and maintaining the infrastructure that supports data storage, processing, and retrieval.', 76000, 143000, 5)]

10. List all top 3 applicants with the most number of skills

In [59]:
%%sql
SELECT applicant.*, COUNT(skill) AS num_skills
FROM applicant NATURAL JOIN applicant__skill 
GROUP BY applicant_id
ORDER BY num_skills DESC
LIMIT 3

 * mysql://root:***@127.0.0.1
3 rows affected.

[('M1-4181491l', 'Haley', 'Flynn', 33187570267, 'preynolds@example.com', 7),
 ('i7-4926114O', 'Lisa', 'Tran', 58652894361, 'burnettnatalie@example.org', 7),
 ('A5-8064064C', 'Alan', 'Hayden', 56820565210, 'sharris@example.com', 7)]