In [1]:
import datajoint as dj
from faker import Faker
fake = Faker()
schema = dj.Schema('Hiring')

[2023-12-11 12:27:22,328][INFO]: Connecting root@fakeservices.datajoint.io:3306
[2023-12-11 12:27:22,366][INFO]: Connected root@fakeservices.datajoint.io:3306

In [3]:
@schema
class Manager(dj.Manual):
    definition="""
    manager_id : bigint unsigned  
    ---
    first_name : varchar(30) 
    last_name : varchar(30) 
    phone : bigint 
    email : varchar(30) 
    """

In [4]:
@schema
class Job(dj.Manual):
    definition = """
    job_id : varchar(12)   
    ---
    -> Manager
    job_title : varchar(30) 
    open_date : date 
    description : varchar(200) 
    minimum_annual_salary : bigint unsigned  
    maximum_annual_salary : bigint unsigned  
    """
    class Skill(dj.Part):
        definition = """
        -> master
        -> Skill
        """

In [5]:
@schema
class Skill(dj.Lookup):
    definition = """
    skill : varchar(24)
    """

In [6]:
@schema
class Applicant(dj.Manual):
    definition = """
    applicant_id : varchar(15) 
    ---
    first_name : varchar(30) 
    last_name : varchar(30) 
    phone : bigint unsigned  
    email : varchar(30)
    """
    class Skill(dj.Part):
        definition = """
        -> master
        -> Skill
        """

In [7]:
@schema
class Application(dj.Manual):
    definition = """
    -> Applicant
    -> Job
    --- 
    """

In [8]:
@schema
class Interview(dj.Manual):
    definition = """
    -> Application
    ---
    -> Manager
    interview_date : date 
    """

In [9]:
@schema
class Offer(dj.Manual):
    definition = """
    -> Interview
    ---
    start_date : date
    salary : bigint unsigned 
    """

In [10]:
@schema
class Acceptance(dj.Manual):
    definition = """
    -> Offer
    --- 
    """

In [11]:
dj.Diagram(schema)

In [539]:
schema.drop()

Populate

In [12]:
import random
from tqdm import tqdm
from faker import Faker
fake = Faker()

In [13]:
Faker.seed(0)
Manager.insert(dict(
    manager_id=fake.random_int(100000, 900000),
    first_name=fake.first_name(),
    last_name=fake.last_name(),
    phone=fake.random_int(1_000_000_0000, 9_999_999_9999),
    email=fake.email()) for _ in range(10))

DuplicateError: ("Duplicate entry '503958' for key 'manager.PRIMARY'", 'To ignore duplicate entries in insert, set skip_duplicates=True')

In [426]:
Manager()

*manager_id    first_name     last_name     phone          email
+------------+ +------------+ +-----------+ +------------+ +------------+
134574         Chloe          Douglas       20636619644    sheltondavid@e
300348         Sally          Walker        72461666241    millerluke@exa
373145         Bryan          Sellers       13934166345    cortezraymond@
475441         Brandy         Odonnell      29347482742    donald19@examp
503958         Katherine      Fisher        76620417634    thull@example.
613054         Daniel         Arnold        25919560061    lisa83@example
658433         Tonya          Patrick       31054642443    corey15@exampl
673812         Briana         Wallace       54602810789    kellylopez@exa
687007         Craig          Hamilton      98523085497    tammywoods@exa
755638         Aaron          Snyder        56675998506    jessicapadilla
 (Total: 10)

In [553]:
keys = Manager.fetch("KEY")

In [554]:
for index in range(1, 40):
    skill_list=["SQL","Python","Excel","Word","JAVA","Tableu","R Language","Database Management","Powerpoint","C++ Language","Rust"] 
    Skill.insert1(dict(
    skill=fake.random.choices(skill_list)
    ),skip_duplicates=True)

In [429]:
Skill()

*skill
+------------+
C++ Language
Database Manag
Excel
JAVA
Powerpoint
Python
R Language
Rust
SQL
Tableu
Word
 (Total: 11)

In [556]:
Job()

*job_id        manager_id     job_title      open_date      description    minimum_annual maximum_annual
+------------+ +------------+ +------------+ +------------+ +------------+ +------------+ +------------+
b9-5331889F    755638         Database Admin 2024-02-21     designing, bui 75000          104000
C9-6943858n    373145         Data Scientist 2024-03-09     designing, bui 50000          129000
D6-2084932w    475441         Data Engineer  2024-01-19     collects large 42000          106000
d7-7843350J    687007         Data Analyst   2024-01-02     designing, bui 76000          143000
E9-7204107h    613054         Database Admin 2024-03-19     ensure that th 62000          148000
f1-2207807e    613054         Database Admin 2024-03-15     ensure that th 47000          123000
f3-2879298o    134574         Data Engineer  2024-03-02     ensure that th 61000          96000
F6-0486311W    687007         Data Scientist 2024-02-27     collects large 52000          127000
g0-8691000R    134574         Data Administr 2024-01-13     identifies tre 34000          131000
g2-5606095Y    613054         Data Scientist 2024-02-11     designing, bui 66000          130000
I4-1854938J    373145         Data Scientist 2024-02-24     collects large 35000          128000
J5-6425102P    687007         Database Admin 2024-01-02     collects large 77000          95000
   ...
 (Total: 21)

In [21]:
Faker.seed(0)

for index in range(1, 22):  
    job_list = ["Data Engineer", "Data Scientist II", "Data Administrator", "Data Scientist","Data Analyst","Database Admin"]
    description_list =["designing, building, and maintaining the infrastructure that supports data storage, processing, and retrieval.","identifies trends, patterns, and anomalies found in big data sets by performing extensive data analysis to develop insights.","create or organize systems to store different data types, such as financial information and customer shipping records." ,"collects large amounts of data using analytical, statistical, and programmable skills.,gather and scrutinise data using specialist tools to generate information that helps others make decisions." ,"ensure that the overall system run efficiently and securely"]

    Job.insert1(dict(
    random.choice(keys),
    job_id=fake.pystr_format(),
    job_title=fake.random.choice(job_list),
    open_date=fake.date_between(start_date='+20d',end_date='+120d'),
    description=fake.random.choice(description_list),
    minimum_annual_salary=fake.random_int(min=30000, max=80000, step=1000),
    maximum_annual_salary=fake.random_int(min=90000, max=150000, step=1000)
    ))

NameError: name 'keys' is not defined

In [557]:
Job.Skill.insert(
    Job.proj() * Skill & 'RAND() < 0.3')

In [433]:
Job.Skill()

*job_id        *skill
+------------+ +------------+
f3-2879298o    C++ Language
F6-0486311W    C++ Language
m9-3426306u    C++ Language
X7-9235874U    C++ Language
f3-2879298o    Database Manag
g2-5606095Y    Database Manag
M1-0138752M    Database Manag
V9-2465885L    Database Manag
X7-9235874U    Database Manag
E9-7204107h    Excel
g0-8691000R    Excel
m9-3426306u    Excel
   ...
 (Total: 64)

In [435]:
Applicant()

*applicant_id  first_name     last_name      phone          email
+------------+ +------------+ +------------+ +------------+ +------------+
A1-6116914f    Kim            Navarro        67753216629    ujohnson@examp
a3-8938169O    Matthew        Estes          56810883075    austin24@examp
A5-8064064C    Alan           Hayden         56820565210    sharris@exampl
b9-8913584c    David          Lopez          90874604127    myersmitchell@
c1-1224260E    Megan          Villanueva     81748645873    aimee33@exampl
c1-7207518d    Carmen         Anderson       24276090565    james71@exampl
c7-6963922o    Richard        Miles          31675753711    sbrown@example
c7-8907313H    Troy           Collins        16300254181    olopez@example
d4-5623618e    William        Williams       65784045185    jorgestrong@ex
d7-7843350J    Linda          Dunn           18650243240    ypage@example.
E0-321596M     Jason          Owen           83112294451    qoliver@exampl
E0-3554230i    Susan          Phillips       98275341241    jack11@example
   ...
 (Total: 50)

In [558]:
Faker.seed(0)
Applicant.insert(dict(
    applicant_id=fake.pystr_format(),
    first_name=fake.first_name(),
    last_name=fake.last_name(),
    phone=fake.random_int(1_000_000_0000, 9_999_999_9999),
    email=fake.email()) for _ in range(50))

In [559]:
Faker.seed(0)
Applicant.Skill.insert(
    Applicant.proj() * Skill & 'RAND() < 0.3')

In [437]:
Applicant.Skill()

*applicant_id  *skill
+------------+ +------------+
c7-8907313H    C++ Language
E0-3554230i    C++ Language
g1-5877339f    C++ Language
h4-485580e     C++ Language
L8-2367134x    C++ Language
M9-6764745I    C++ Language
q3-1768614C    C++ Language
S1-0453355Q    C++ Language
s4-229584c     C++ Language
t1-126336z     C++ Language
x3-0671991H    C++ Language
Z2-6229516t    C++ Language
   ...
 (Total: 164)

In [440]:
Application()

*applicant_id  *job_id
+------------+ +------------+
f9-2674934I    b9-5331889F
Z4-7198965L    b9-5331889F
A1-6116914f    C9-6943858n
y1-3301078Z    C9-6943858n
S5-1154138f    D6-2084932w
Z9-4712554y    D6-2084932w
A1-6116914f    d7-7843350J
c1-7207518d    d7-7843350J
E0-3554230i    d7-7843350J
H0-0464424Q    d7-7843350J
K1-9728952j    d7-7843350J
q3-1768614C    d7-7843350J
   ...
 (Total: 60)

In [560]:
keys = Applicant.fetch("KEY")

In [561]:
Faker.seed(0)

application = (Applicant * Job - Application.proj()).fetch("KEY", order_by=('applicant_id', 'job_id'))
Application.insert(random.sample(application, 60))

In [15]:
key1=Manager.fetch("KEY")

In [22]:
Faker.seed(0)

application_data = Application.fetch(as_dict=True)
manager_data = Manager.fetch(as_dict=True)

data = []
for index in range(1, 41): 
    application_record = fake.random_element(application_data)
    interview_data = {
        'applicant_id': application_record['applicant_id'],
        'job_id': application_record['job_id'],
        'manager_id': fake.random_element(manager_data)['manager_id'],
        'interview_date': fake.date_between(start_date='-30d', end_date='today')
    }
    data.append(interview_data)

Interview.insert(data,skip_duplicates=True)

In [23]:
Interview()

*applicant_id  *job_id        manager_id     interview_date
+------------+ +------------+ +------------+ +------------+
A1-6116914f    d7-7843350J    687007         2024-02-04
a3-8938169O    I4-1854938J    373145         2024-02-03
a3-8938169O    p0-8425503V    134574         2024-03-03
b9-8913584c    g0-8691000R    134574         2024-02-22
b9-8913584c    N2-4213578G    475441         2024-02-13
c1-1224260E    E9-7204107h    613054         2024-03-07
c1-1224260E    f1-2207807e    613054         2024-02-09
c7-6963922o    F6-0486311W    687007         2024-02-21
c7-8907313H    g2-5606095Y    613054         2024-02-10
c7-8907313H    T9-0321901c    475441         2024-02-04
E2-5715576H    F6-0486311W    687007         2024-02-09
F6-0486311W    f3-2879298o    134574         2024-03-02
   ...
 (Total: 60)

In [337]:
Offer()

*applicant_id  *job_id    start_date     salary
+------------+ +--------+ +------------+ +--------+

 (Total: 0)

In [24]:
key=Interview.fetch("KEY")

In [25]:
Faker.seed(0)
for index in range(1, 20):
    Offer.insert1(dict(
    random.choice(key),
    start_date=fake.date_between(start_date='+40d',end_date='+100d'),
    salary=fake.random_int(min=40000, max=150000, step=1000)),skip_duplicates=True)

In [340]:
Acceptance()

*applicant_id  *job_id
+------------+ +--------+

 (Total: 0)

In [26]:
key=Offer.fetch("KEY")

In [27]:
Faker.seed(0)
for index in range(1, 10):
    Acceptance.insert1(dict(
    random.choice(key),
    ),skip_duplicates=True)

Queries

In [28]:
import pymysql
pymysql.install_as_MySQLdb()
%load_ext sql
%config SqlMagic.autocommit=True
%sql mysql://root:simple@127.0.0.1

In [29]:
%%sql
use Hiring

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [30]:
%%sql
show tables

 * mysql://root:***@127.0.0.1
11 rows affected.

[('#skill',),
 ('acceptance',),
 ('applicant',),
 ('applicant__skill',),
 ('application',),
 ('interview',),
 ('job',),
 ('job__skill',),
 ('manager',),
 ('offer',),
 ('~log',)]

In [31]:
%%sql
SELECT *, count(applicant_id) as number_of_applicants
FROM job natural join job__skill natural join application 
where skill="SQL" AND job_id NOT IN (SELECT job_id FROM acceptance)

 * mysql://root:***@127.0.0.1
1 rows affected.

[('b9-5331889F', 755638, 'Database Admin', datetime.date(2024, 2, 21), 'designing, building, and maintaining the infrastructure that supports data storage, processing, and retrieval.', 75000, 104000, 'SQL', 'Z4-7198965L', 9)]

In [32]:
%%sql
SELECT skill,(avg(minimum_annual_salary)+avg(maximum_annual_salary))/2 as Average_salary,count(*) as number_of_jobs FROM job__skill natural join job
GROUP by skill

 * mysql://root:***@127.0.0.1
11 rows affected.

[('C++ Language', Decimal('90583.33333333'), 6),
 ('Database Management', Decimal('92333.33333333'), 6),
 ('Excel', Decimal('93750.00000000'), 4),
 ('JAVA', Decimal('89166.66666667'), 6),
 ('Powerpoint', Decimal('87000.00000000'), 7),
 ('Python', Decimal('87375.00000000'), 4),
 ('R Language', Decimal('90900.00000000'), 5),
 ('Rust', Decimal('86666.66666667'), 6),
 ('SQL', Decimal('89071.42857143'), 7),
 ('Tableu', Decimal('98666.66666667'), 3),
 ('Word', Decimal('90500.00000000'), 5)]

In [374]:
%%sql
SELECT * FROM manager natural join job

 * mysql://root:***@127.0.0.1
4 rows affected.

[('D6-2084932w', 'SQL', 373145, 'Data Engineer', datetime.date(2024, 1, 19), 'collects large amounts of data using analytical, statistical, and programmable skills.,gather and scrutinise data using specialist tools to generate information that helps others make decisions.', 42000, 106000),
 ('J5-6425102P', 'SQL', 755638, 'Database Admin', datetime.date(2024, 1, 2), 'collects large amounts of data using analytical, statistical, and programmable skills.,gather and scrutinise data using specialist tools to generate information that helps others make decisions.', 77000, 95000),
 ('m9-3426306u', 'SQL', 613054, 'Data Scientist II', datetime.date(2024, 1, 6), 'ensure that the overall system run efficiently and securely', 72000, 106000),
 ('N2-4213578G', 'SQL', 673812, 'Data Administrator', datetime.date(2024, 1, 28), 'create or organize systems to store different data types, such as financial information and customer shipping records.', 36000, 136000)]