In [1]:
import pymysql
pymysql.install_as_MySQLdb()
%load_ext sql
%config SqlMagic.autocommit=True
%sql mysql://root:simple@127.0.0.1

In [2]:
import datajoint as dj

sales = dj.Schema('classicsales')
sales.spawn_missing_classes()

dj.Diagram(sales)

[2023-11-29 15:56:22,287][INFO]: Connecting root@fakeservices.datajoint.io:3306
[2023-11-29 15:56:22,295][INFO]: Connected root@fakeservices.datajoint.io:3306

In [3]:
%%sql
use classicsales

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [4]:
%%sql
show tables

 * mysql://root:***@127.0.0.1
9 rows affected.

[('customer',),
 ('employee',),
 ('office',),
 ('order',),
 ('order__item',),
 ('payment',),
 ('product',),
 ('product_line',),
 ('report',)]

In [6]:
%%sql
SELECT * FROM payment
limit 5

 * mysql://root:***@127.0.0.1
5 rows affected.

[(103, 'HQ336336', datetime.date(2004, 10, 19), Decimal('6066.78')),
 (103, 'JM555205', datetime.date(2003, 6, 5), Decimal('14571.44')),
 (103, 'OM314933', datetime.date(2004, 12, 18), Decimal('1676.14')),
 (112, 'BO864823', datetime.date(2004, 12, 17), Decimal('14191.12')),
 (112, 'HQ55022', datetime.date(2003, 6, 6), Decimal('32641.98'))]

In [7]:
%%sql
SELECT * FROM `order`
limit 5

 * mysql://root:***@127.0.0.1
5 rows affected.

[(10100, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363),
 (10101, datetime.date(2003, 1, 9), datetime.date(2003, 1, 18), datetime.date(2003, 1, 11), 'Shipped', 'Check on availability.', 128),
 (10102, datetime.date(2003, 1, 10), datetime.date(2003, 1, 18), datetime.date(2003, 1, 14), 'Shipped', None, 181),
 (10103, datetime.date(2003, 1, 29), datetime.date(2003, 2, 7), datetime.date(2003, 2, 2), 'Shipped', None, 121),
 (10104, datetime.date(2003, 1, 31), datetime.date(2003, 2, 9), datetime.date(2003, 2, 1), 'Shipped', None, 141)]

In [8]:
%%sql
SELECT * FROM order__item
limit 5

 * mysql://root:***@127.0.0.1
5 rows affected.

[(10100, 'S18_1749', 30, Decimal('136.00'), 3),
 (10100, 'S18_2248', 50, Decimal('55.09'), 2),
 (10100, 'S18_4409', 22, Decimal('75.46'), 4),
 (10100, 'S24_3969', 49, Decimal('35.29'), 1),
 (10101, 'S18_2325', 25, Decimal('108.06'), 4)]